# Ignore all .bat files in any folder
*.bat

# Ignore all Excel temporary files that start with ~ in any folder
~*.xlsx

# Ignore all files (i) ending with vpp.lck or (ii) that has '.vpp.bak' in its filename in any folder 
*.vpp.lck
*.vpp.bak*
